<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../public/fontawesome-5.15/css/all.min.css">
    <script src="../public/jquery-3.6.0.min.js"></script>
    <script src="../public/bootstrap/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card">
        <div class="card-header">
            User
        </div>
        <div class="card-body">
            <h4 class="card-title">Title</h4>
            <p class="card-text">Text</p>
        </div>
    </div>
</body>
</html>